.inputTxt {
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 50px;
  color: white;
  width: 80%; 
}

.divList {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 50px;
  background: #151419;
}

p {
  color: white;
  word-break: break-all;
}

.btn {
  background-color: DodgerBlue;
  margin-top: 1rem 1rem 0 0;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  margin-right: 0.3rem;
}

.divBtnLists {
  display: inline-flex;
}

.divBtnPlus {
  margin: 0 0 0 50%;
}

.input {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  width: 100%;
  border-radius: 20px;
}